.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Amatic SC', cursive;
    font-size: 18vh;
    margin: 0;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-size: 4vh;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-size: 4vh;
}

img{
    height: 100%;
}



#hangman_container{
    height: 40vh;
}

#guessing_container{
    height: 25vh;
    font-size: 10vh;
    font-family: 'Raleway', sans-serif;
}

#guessing_word{

}

#guesses_left_box{
    width: 15%;
    border: 5px solid black;
    padding: 25px;
    margin: 25px;
}

 /* button styles (from CodePen) */
button {
  display: flex;
  margin: 2px;
  padding: 0;
  font-family: 'Pangolin', cursive;
  font-size: 5vh;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;

  
  border: 0 none; 
}

.unclicked{
    color: rgb(36, 25, 25);
}
.clicked{
    color: #82878A;
}